<!-- Si el usuario esta autenticado se manda a logout, al reves sería login -->
{% if request.user.is_authenticated %}
    <p>{{request.user}}</p>
    <a href="{% url 'logout' %}"> Logout</a>
{% else %}
<!-- DJANGO tiene el login for users -->
    <a href="{% url 'login' %}"> Login</a>
{% endif %}
<hr>
<h1>My appointments</h1>
<a href="{% url 'appointment-create' %}"> Add appointment</a>

<table>
    <tr>
        <th>Día / Mes / Hora</th>
    </tr>
    {% for appointment in appointments %}
    <tr>
        <th>{{appointment.day}},{{appointment.month}}, {{appointment.hour}}, {{appointment.user}}</th>
        <th><a href="{% url 'appointment' appointment.id %}">Ver Detalle</a></th>
        <!-- Link para editar y ver detalles, tambien para eliminar -->
        <th><a href="{% url 'appointment-update' appointment.id %}"> Editar</a></th>
        <th><a href="{% url 'appointment-delete' appointment.id %}"> Eliminar</a></th>
    </tr>
    {% empty %}
        <h3>No items in list</h3>
    {% endfor %}
</table>